/* Masquer le menu par défaut */
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    /* Positionner le menu juste sous l'élément parent */
    width: 70vw;
    /* Prendre 70% de la largeur de la fenêtre */
    padding: 1rem;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border-radius: 0px;
    left: 50%;
    /* Positionner le menu à partir du centre de l'élément parent */
    margin-left: -35vw;
    /* Décaler de la moitié de la largeur du menu pour centrer */
}

/* Affichage du menu au survol */
.dropdown:hover .dropdown-menu {
    display: block;
    display: flex;
    justify-content: center;
    /* Centrer les éléments enfants du mega-menu */
}

/* Styling du mega-menu */
.mega-menu {
    width: 100%;
    /* Prend toute la largeur du dropdown */
    display: flex;
    justify-content: space-around;
    /* Répartir les éléments à l'intérieur du menu */
    flex-wrap: wrap;
    /* Permet au contenu de se placer en lignes, si nécessaire */
}

/* Styling des éléments du mega-menu */
.mega-menu h5 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.mega-menu ul {
    padding: 0;
    list-style-type: none;
}

.mega-menu li {
    margin-bottom: 5px;
}

.mega-menu a {
    text-decoration: none;
    color: #000;
}

.mega-menu a:hover {
    text-decoration: underline;
}

/* Styling de la navbar */
.navbar-nav {
    background-color: #fce8e7;
}