{% extends 'base.html.twig' %}

{% block title %}{{category.name}}{% endblock %}

{% block body %}
<div class="container p-4">
{# BREADCRUMBS ------------------------------------------------------------------------------------------------ #}
    {% set breadcrumbs = [
        {"page_name": "Accueil", "route_path": path('home.index')},
        {"page_name": "Marques", "route_path": path('category.index')},
    ] %}
    {% include 'components/_breadcrumb.html.twig' 
        with {'breadcrumbs': breadcrumbs ? breadcrumbs : null} 
    %} 
{# TITLE------------------------------------------------------------------------------------------------ #}
  {% include 'components/_title_with_subtitle.html.twig' 
    with {
    'title': category.name,
      'subtitle': ''
    } 
  %}
{# ------------------------------------------------------------------------------------------------ #}
    <div class="row">
        <div class="spkdv_product_grid">
            <div class="row">
                {% for product in pagination %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                        {% include 'product/_product_grid_template.html.twig' 
                            with {
                            'product': product ? product : null
                            } 
                        %} 
                    </div>
                {% else %}
                    <div class="alert alert-warning">
                        Aucun produit pour le moment
                    </div>
                {% endfor %} 
            </div>
        </div>
    </div>

</div>
{% endblock %}
