{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
<div class="container p-4">
    {# BREADCRUMBS #}
    {% set breadcrumbs = [
        {"page_name": "Accueil", "route_path": path('home.index')},
        {"page_name": "Blog", "route_path": null},
    ] %}
    {% include 'components/_breadcrumb.html.twig' with {'breadcrumbs': breadcrumbs} %}

    {# TITLE #}
    {% include 'components/_title_with_subtitle.html.twig' with {
        'title': 'Blog',
        'subtitle': 'Découvrez nos derniers articles'
    } %}

    <div class="row">
        {% if pagination is empty %}
            <div class="alert alert-infos">Aucun article pour le moment.</div>
        {% else %}
            {% for blog in pagination %}
                {% include 'blog/_blog_grid_template.html.twig' with {'blog': blog} %}
            {% endfor %}
        {% endif %}
    </div>

    <div class="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
</div>
{% endblock %}
