{# templates/components/_icon_grid.html.twig #}

<a href="{{ path(route) }}">
    <div class="py-4 px-4" style="background:{{ background }};border-radius:5px">
        <img src="{{ asset(imagePath) }}" loading="lazy" alt="" style="height:4em">
        <p class="text-white fs-4">{{ title }}</p>
    </div>
</a>
