{% set menuItems = get_menu_items(true, true, true) %}

<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <div class="mega-menu">
        {% for category in menuItems.categories %}
            <div>
                <h5>{{ category.name }}</h5>
                <ul class="list-unstyled">
                    {# {% for option in category.options %}
                        <li><a class="dropdown-item" href="{{ option.url }}">{{ option.name }}</a></li>
                    {% endfor %} #}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
