{% set menuItems = get_menu_items(true, true, true) %}

<nav class="navbar navbar-expand-lg navbar-light p-0">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav col-12 justify-content-center p-2">

            {# Menu Marques #}
            {% include 'components/_mega_menu.html.twig' with {
                menu_path: 'brand.index',
                menu_id: 'Brands',
                menu_label: 'MARQUES',
                first_column_label: 'NOS MARQUES',
                second_column_label: 'NOS DERNIERES MARQUES',
                menu_items: menuItems.brands,
                menu_item_path: 'brand.show',
                menu_image_folder: 'brands',
                content_type: 'brand'

            } %}

            {# Menu Parfums #}
            {% include 'components/_mega_menu.html.twig' with {
                menu_path: 'product.index',
                menu_id: 'Products',
                menu_label: 'PARFUMS',
                first_column_label: 'NOS PARFUMS',
                second_column_label: '',
                menu_items: menuItems.categories,
                menu_item_path: 'category.show',
                menu_image_folder: 'categories',
                content_type: 'category'  

            } %}

            <!-- Autres liens -->
            <li><a href="{{ path('olfactoryfamily.index') }}" class="nav-link px-5">FAMILLES OLFACTIVES</a></li>
            <li><a href="{{ path('box_sillage.index') }}" class="nav-link px-5">BOX SILLAGE</a></li>
            <li><a href="{{ path('exclusive.index') }}" class="nav-link px-5">OFFRES EXCLUSIVES</a></li>
        </ul>
    </div>
</nav>
